* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #E7B73D;
  --yellow-rgb: 231 183 61;
  --orange: #EA951D;
  --orange-rgb: 234 149 29;
  --darkOrange: #C86001;
  --darkOrange-rgb: 200 96 1;
  --white: #FFFFFF;
  --lightGrey: #F4F4F4;
  --grey: #ADADAD;
  --darkGrey: #7C7C7C;
  --black: #050706;
  --shadow-rgba: rgba(0, 0, 0, 0.15);
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

nav {
  height: 3.334rem;
  color: var(--darkGrey);
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--lightGrey);
}

nav a {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  text-decoration: none;
}

nav a.active {
  color: var(--orange);
}

nav img {
  height: 2rem;
}

.tab {
  min-height: calc(100vh - 3.334rem);
  padding-bottom: 4.334rem;
  /* spacing for tabbar + 15px margin */
}

.pangolin {
  font-family: 'Pangolin', cursive;
  font-weight: lighter;
  /* make it "normal" */
}

/* ---------- TOP TABBAR ---------- */
header {
  background-color: var(--yellow);
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.334rem;
  width: 100%;
  padding: 0 1.334rem;
}

header div {
  /* Tabbar content except h1 */
  width: 65px;
  flex-shrink: 0;
}

header div:last-child {
  /* The right div in header */
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

header div:last-child a {
  width: 2rem;
  height: 2rem;
  margin-left: 0.334rem;
  background: none;
  color: var(--yellow-contrast);
}

header #logo {
  height: 2rem;
}

header h1 {
  font-size: 1.33rem;
  text-align: center;
  width: 100%;
  margin: 0;
}

/* ---------- WELCOME SCREEN ---------- */
#welcome {
  background-color: var(--yellow);
  height: 100vh;
  text-align: center;
}

#welcome #logo {
  width: 16rem;
  margin: 4rem 0 2rem 0;
}

#welcome #welcome-index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 190px);
}

#welcome #welcome-index p {
  font-size: 2rem;
  color: var(--white);
}

#welcome #welcome-index div {
  margin: 0 3rem 4rem 3rem;
}

#welcome button {
  width: 100%;
  height: 3.334rem;
  background-color: var(--darkOrange);
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.334rem;
  text-transform: uppercase;
  border: none;
}

#welcome #welcome-index button:first-of-type {
  margin: 1rem 0;
}

form {
  background-color: var(--white);
  border-radius: 1rem;
  margin: 0 2rem;
  padding: 1.667rem;
}

#welcome form .back-button {
  width: 1.667rem;
  height: 100%;
  border-radius: 0;
  background-color: var(--white);
  color: var(--orange);
  font-size: 1.334rem;
}

form .form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form .form-header div {
  width: 2rem;
  flex-shrink: 0;
}

form .form-header div:first-of-type {
  text-align: left;
}

form .form-header h1 {
  width: 100%;
  margin: 0;
  color: var(--orange);
  font-size: 1.334rem;
  text-align: center;
}

form .form-element {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

form .form-element label {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--grey);
  order: -1;
  /* Position the label above the input, as the HTML needs to be  */
  text-align: left;
}

form .form-element input {
  width: 100%;
  border-radius: 2px;
  border: none;
  border-bottom: 2px solid var(--grey);
  padding: 5px;
  color: var(--darkGrey);
}

form .form-element input:focus {
  border-color: var(--orange);
}

form .form-element input:focus+label {
  color: var(--orange);
}

form .form-forgot-password {
  font-size: 0.667rem;
  height: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--grey);
}

#welcome form .form-button {
  margin-top: 1.667rem;
  height: 2.334rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  width: auto;
  padding: 0.334rem 1.5rem;
  background-color: var(--orange);
}

form .form-element-double {
  display: flex;
}

form .form-element-double .form-element:last-of-type {
  margin-left: 1rem;
  width: 5rem;
  flex-shrink: 0;
}

form .form-element-checkbox-list {
  margin-top: 1rem;
}

form .form-element-checkbox-list div:first-of-type {
  text-align: left;
}

form .form-element-checkbox-list label {
  width: 100%;
  font-size: 0.8rem;
  color: var(--grey);
  text-transform: uppercase;
}

form .form-element-checkbox-list .form-element {
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.334rem;
}

form .form-element-checkbox-list .form-element label {
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--darkGrey);
}

/* ---------- HOME ---------- */
.category .category-header {
  margin: 1rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category .category-header .category-title {
  color: var(--grey);
}

.category .category-header button {
  border: none;
  border-radius: 0.334rem;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.667rem;
  color: var(--white);
  background-color: var(--yellow);
  height: 20px;
}

.category .slides {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 2px;
  /* padding for the card shadow to have space */
}

.category .slides .card {
  display: inline-block;
  width: 200px;
  height: 156px;
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: 0px 2px 4px var(--shadow-rgba);
  margin-right: 1rem;
  border-radius: 2px;
}

.category .slides .card:first-of-type {
  margin-left: 1rem;
}

.category .slides .card .card-img {
  width: 100%;
  height: 120px;
  border-radius: 2px 2px 0 0;
}

.category .slides .card .card-title {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0.334rem;
  margin-top: -2px;
  color: var(--yellow);
}

.category .slides .card .card-content {
  margin: 0 0.334rem;
  display: flex;
  justify-content: space-between;
}

.category .slides .card .card-content p {
  color: var(--grey);
  font-size: 0.8rem;
}

/* --- opslag side ---*/
.profilBar {
  height: 75px;
  padding: 0px;
  display: flex;
}

.profilInfoContainer {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.profilInfoContainer h1 {
  color: #7c7c7c;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  margin-top: 5px;
}

.profilInfoContainer h2 {
  color: #ADADAD;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  margin-top: -10px;
}

.profilBilledeSmall {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.opslagWrapper {
  margin: 0 -5%;
}

.opslagTitel {
  grid-area: t;
  color: #E7B73D;
  font-size: 24pt;
  font-family: 'Raleway', sans-serif;
}

.opslagPris {
  grid-area: p;
  font-size: 24pt;
  display: flex;
  justify-content: flex-end;
  font-family: 'Raleway', sans-serif;
}

.opslagMaengde {
  grid-area: m;
  color: #ADADAD;
  font-size: 14pt;
  font-family: 'Raleway', sans-serif;
}

.opslagAfstand {
  grid-area: a;
  color: #ADADAD;
  font-size: 14pt;
  display: flex;
  justify-content: flex-end;
  font-family: 'Raleway', sans-serif;
}

.opslagBeskrivelse {
  grid-area: b;
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
}

.holdbarhed {
  grid-area: h;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kvalitet {
  grid-area: kv;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kvalitetInfo {
  grid-area: k;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    ". h . kv";
  margin-top: 25px;
}

.opslagInfo {
  margin: 0 5%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "t t p p"
    "m m a a"
    "b b b b"
    "k k k k";
}

.kvalitetTitel {
  font-size: 14pt;
  font-family: 'Raleway', sans-serif;
  color: #ADADAD;
}

.kvalitetDato {
  font-size: 18pt;
  font-family: 'Raleway', sans-serif;
  color: #E7B73D;
}

.skriv {
  width: 100%;
  height: 52px;
  color: white;
  background-color: #E7B73D;
  position: fixed;
  bottom: 0;
  font-family: 'Pangolin', cursive;
  font-size: 14pt;
  left: 0;
}

/* Profil side */
.follower-container {
  grid-area: fc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.follower-container div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.follower-container div p {
  color: var(--grey);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.follower-container div p.pangolin {
  color: var(--orange);
  font-size: 1.6rem;
}

.follower-container h1 {
  color: #adadad;
  font-size: 10pt;
  margin-top: -5%;
}

.profile-wrapper img {
  grid-area: im;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.profile-wrapper h2 {
  grid-area: na;
  margin: 5px 0 2px 0;
  color: var(--grey);
}

.profile-wrapper > p { /* ">" to not hit follower-container */
  grid-area: be;
}

.redigerKnap {
  grid-area: re;
  background-color: #F7F7F7;
  margin: 10px 0 0 0;
  height: 20px;
  border: 1px solid var(--grey);
  border-radius: 3px;
  width: 100%;
  justify-content: center;
  font-size: 8pt;
  font-family: 'Raleway', sans-serif;
}

.profile-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "im fc fc fc"
    "na na na na"
    "be be be be"
    "re re re re"
  ;
  padding: 1rem;
  box-shadow: 0 2px 4px var(--shadow-rgba);
  margin-bottom: 1rem;
}

.card-container {
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-container .card {
  display: inline-block;
  width: 45%;
  height: 135px;
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: 0px 2px 4px var(--shadow-rgba);
  margin-right: 1rem;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.card-container .card .card-img {
  width: 100%;
  height: 100px;
  border-radius: 2px 2px 0 0;
}

.card-container .card .card-title {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0.334rem;
  margin-top: -2px;
  color: var(--yellow);
}

.card-container .card .card-content {
  margin: 0 0.334rem;
  display: flex;
  justify-content: space-between;
}

.card-container .card .card-content p {
  color: var(--grey);
  font-size: 0.8rem;
}

#profil-opslag-titel {
  color: var(--grey);
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 1rem;
  text-align: center;
}

/* ---------- MODALS ---------- */
.modal {
  display: none;
}
